.container {
    min-height: 100vh;
    padding: 2rem;
    transition : all 0.3s ease;
}

.day{
    background-color: #f5f7fa;
    color: #222;
    
}

.night {
  background-color: #121212;
  color: #f5f5f5;
}

.button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}